*{
    background-color: rgba(25, 158, 211, 0.918);
}
.pracedure
{
    background-color: rgba(25, 158, 211, 0.918);
    border: 3px solid white;
    width: 600px;
    height: 88px;
    color: aliceblue;
}
h1, p
 { 
    display: flex;
    color: aliceblue;
    justify-content: center;
}
h2{
margin-right: 400px;
justify-content: left;
}
h3 {
    justify-content: left;
    display: flex;
    
    font-size: auto;
}
table {
    background-color: rgba(25, 158, 211, 0.918);
    border: 2px solid rgba(25, 158, 211, 0.918);;
    width: 1200px;
    height: 800px;
    justify-content: center;
    display: flex;
    border-spacing: 37px 51px;
}
label{
    color: white;
}
button {
    display: flex;
    justify-content: center;
    width: 610px;
    height: 88px;
    background-color: rgb(36, 112, 184);
    font-size: 300%;
    color: wheat;
    margin: auto;
}
#checkbox{
    display: flex;
    justify-content: center;
    
}
.user-name{
    border: 3px solid white; 
    width: 282px;
    height: 88px;
 background-color: aliceblue;  
margin-left: 20PX;
}
.input-container{
    margin-top: 15px;
    margin-left: -25px;
    display: flex;
    justify-content: center;      
}
.table{
    border: 2px solid white;
    width: 600px;
    height: 200%;
   margin: auto;
   margin-top: 20px;
   justify-content: center;
   align-items: center;
   align-content: center;
   overflow: auto;


}